* {
  padding: 0;
  margin-left: 0;
}

/* Header Styles */

#logo {
  width: 7.36156rem;
  height: 1.339rem;
  flex-shrink: 0;
}

/* Hero Styles */
#reasoning-image {
  width: 23.6875rem;
  height: 23.6875rem;
  box-sizing: border-box;
}

/* Reasoning Styles */
#reasoning-text {
  width: 24.1875rem;
  height: 10.1875rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

/* Experiments Styles */
#experiments-image-container {
  width: 100%;
  height: 57.4375rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  box-sizing: border-box;
}

#left-images {
  width: 57.4375rem;
  height: 57.4375rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

#right-images {
  width: 31.6875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#up-right-images {
  width: 100%;
  height: 28.6875rem;
  padding: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

#down-right-images {
  width: 100%;
  height: 27.25rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

/* Coefficient Styles */
#coefficient-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

#grid-container {
  width: 100%;
  height: 56.5vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  justify-items: start;
  align-items: start;
  column-gap: 4.025rem; 
  }

.item {
  height: 56.5vh;
  width: 14.813rem;
  display: flex,
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  
}

/* Binary frame Styles */
.binary-frame{
  width: 100%;
}


#hero-2-text{
  color: #FFF;
font-family: "Neat Chalk";
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 252%;
letter-spacing: 0.15rem; 
  text-transform: uppercase;
  margin: 0px;
}

#avatar-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.19rem;  
}

#name{
  color: #FFF;
  font-family: "Neat Chalk";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 112%; 
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

/* Footer Style */
#left-items{  
  display: flex;
  flex-direction: column;
  width: 30%;
}

 #logo-footer{  
  width: 7.36156rem;
  height: 1.339rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

.rights{
  width: 65%;
  color: var(--White, #FFF);
  font-family: Urbanist;
  font-size: 1.48225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#solvedText{
  color: var(--White, #FFF);
  font-family: Urbanist;
  font-size: 1.48225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.highlight{
  color: #5E4699;
  font-family: Urbanist;
  font-size: 1.48225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#right-items{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;

}

#nav-1, #nav-2{
  display: flex;
  flex-direction: column;
  gap: 1.85rem;
}

.footerLinks{
  color: var(--White, #FFF);
  font-family: Urbanist;
  font-size: 1.78225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.footerLinks:hover{
  text-decoration: underline;
}

/* EXPERIMENTS STYLES */

#x-icon{
  width: 2.42894rem;
  height: 2.42894rem;
  flex-shrink: 0;
  box-sizing: border-box
}