* {
  padding: 0;
  margin-left: 0;
}

/* Header Styles */

#logo {
  width: 7.36156rem;
  height: 1.339rem;
  flex-shrink: 0;
}

/* Hero Styles */
#reasoning-image {
  width: 23.6875rem;
  height: 23.6875rem;
  box-sizing: border-box;
}


@media (max-width: 576px){
  #reasoning-image{
    width: 10.275rem;
    height: 10.275rem;
  }
}

@media (max-width: 377px){
  #reasoning-image{
    
  }
}

/* Experiments Styles */

@media (max-width: 577px){
  #diamond{
    width: 0.9375rem;
    height: 1.3125rem;
    flex-shrink: 0;
    box-sizing: border-box
  }
}


#left-side-img {
  width: 100%;
}

#seafena-img{
  width: 100.2%;
  height: 100%;
}

#experiment-img, #lead-forge-img, #teuser-img{
  width: 100%;
  height: 100%;
}



/* Coefficient Styles */
#coefficient-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

#grid-container {
  width: 100%;
  height: 56.5vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  justify-items: center;
  align-items: center;
  column-gap: 4.025rem; 
  }
 

.item {
  height: 56.5vh;
  width: 14.813rem;
  display: flex,
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  }

  @media (max-width: 1530px){
    #grid-container {
      height: 59vh;
      column-gap: 2.025rem; 
    }
    .item{
      width: 11.813rem;
    }    
  }

  @media (max-width: 768px){
    #grid-container { 
      width: fit-content;     
      height: 170vh;
      align-items: start;
      justify-items: center;
      grid-template-columns: repeat(2, 0.25fr);      
      row-gap: 1rem; 
      margin-left: 0;
      column-gap: 2rem;
      paddingLeft: 10rem;       
    }
    .item{
      width: 10.913rem;
          }  
  }

  @media (max-width: 376px){
    #grid-container {
      height: 129vh;
      width: 100%;      
      row-gap: 1rem;
      grid-template-columns: repeat(2, 0.25fr);
    }
    .item{
      height: auto;
      width: 8.713rem;
          }
  }

  @media (max-width: 321px){
    #grid-container {
      height: 119vh;
      width: 100%;      
      row-gap: 1rem;
      grid-template-columns: repeat(2, 0.25fr);
    }
    .item{
      height: auto;
      width: 7.313rem;
          }
  }

/* Binary frame Styles */
.binary-frame{
  width: 100%;
}

/* Footer Style */

 #logo-footer{  
  width: 7.36156rem;
  height: 1.339rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

.rights{
  width: 100%;
  color: var(--White, #FFF);
  font-family: Urbanist;
  font-size: 1.48225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#solvedText{
  color: var(--White, #FFF);
  font-family: Urbanist;
  font-size: 1.48225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.highlight{
  color: #5E4699;
  font-family: Urbanist;
  font-size: 1.48225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerLinks{
  color: var(--White, #FFF);
  font-family: Urbanist;
  font-size: 1.78225rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

@media (max-width: 577px){
  .footerLinks, .rights, #solvedText, .highlight{
    font-size: 1.125rem;
  }
}

.footerLinks:hover{
  text-decoration: underline;
}

/* EXPERIMENTS STYLES */

#x-icon{
  width: 2.42894rem;
  height: 2.42894rem;
  flex-shrink: 0;
  box-sizing: border-box
}

/* NOT FOUND */
#not-found-image{
  width: 12.83031rem;
  height: 12.83031rem;
  flex-shrink: 0;
  box-sizing: border-box
}