* {
  padding: 0;
  margin-left: 0;
}

/* Header Styles */
#header {
  width: 100vw;
  height: 23vh;
  gap: 65vw;
  display: flex;
  flex-direction: row;
}

#logo {
  width: 7.36156rem;
  height: 1.339rem;
  flex-shrink: 0;
}

/* Hero Styles */
#reasoning-image {
  width: 23.6875rem;
  height: 23.6875rem;
  box-sizing: border-box;
}

/* Reasoning Styles */
#reasoning-text {
  width: 24.1875rem;
  height: 10.1875rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

/* Experiments Styles */
#experiments-image-container {
  width: 100%;
  height: 57.4375rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  box-sizing: border-box;
}

#left-images {
  width: 57.4375rem;
  height: 57.4375rem;
  flex-shrink: 0;
  box-sizing: border-box;
}

#right-images {
  width: 31.6875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#up-right-images {
  width: 100%;
  height: 28.6875rem;
  padding: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

#down-right-images {
  width: 100%;
  height: 27.25rem;
  flex-shrink: 0;
  box-sizing: border-box;
}
